@model TaskManager.Models.ManageModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Manage", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="manage-wrapper">
        <header class="text-center">Manage</header>
        <div class="form-group manage" id="manage-project-title">
            @Html.LabelFor(model => model.ProjectTitle, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div>
                @Html.DropDownListFor(model => model.ProjectTitle, new SelectList(TempData["ProjectTitles"] as ICollection<string>), new { @class = "btn btn-default btn-block text-center user-projects", @id = "project-title" })
                @Html.ValidationMessageFor(model => model.ProjectTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group manage" id="manage-project-actions">
            @Html.LabelFor(model => model.ProjectActions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.DropDownListFor(model => model.ProjectActions, new SelectList(Model.ProjectActions), new { @class = "btn btn-default btn-block text-center disabled", @id = "project-actions" })
                @Html.ValidationMessageFor(model => model.ProjectTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group manage" id="manage-task-title">
            @Html.LabelFor(model => model.TaskTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="manage-task-title-wrapper">
                <select id="task-title" name="task-title" class="btn btn-default btn-block text-center disabled"></select>
                @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group manage" id="manage-task-actions">
            @Html.LabelFor(model => model.TaskAction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.DropDownListFor(model => model.TaskAction, new SelectList(Model.TaskAction), new { @class = "btn btn-default btn-block text-center disabled", @id = "task-actions" })
                @Html.ValidationMessageFor(model => model.TaskAction, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group manage" id="manage-assign-input">
            @Html.LabelFor(model => model.AssignToEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.AssignToEmail, new { htmlAttributes = new { @class = "form-control hidden usersvalue" } })
                @Html.ValidationMessageFor(model => model.AssignToEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="manage-execute">
            <div>
                <input type="submit" value="Execute" class="btn btn-default disabled" id="add-btn" />
            </div>
        </div>
        <div class="form-group" id="manage-cancel">
            <div>
                <input type="button" id ="cancel-btn" class ="btn btn-default" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquryUi")
@Styles.Render("~/jqueryUi/css")

<script type="text/javascript">
    "use strict";
    var projectAction;
    var taskAction;
    var _projectTitle;
    var _taskTitle;
    function SetProjectTitle(title) {
        _projectTitle = title;
    }
    function SetTaskTitle(title) {
        _taskTitle = title;
    }
    function UserAutoComplete()
    {
        $(".usersvalue").autocomplete({
            source: '@Url.Action("UserList")'
        });
    }
    function RedirectionToProjectAction() {
        projectAction = $("#project-actions :selected").text();
        if (projectAction == "Manage tasks") {
            $("#add-btn").addClass("disabled");
            $(".usersvalue").addClass("hidden");
            $(".uservalue").val("");
            $("#task-actions").removeClass("display-dropdown");
            $("#manage-task-title-wrapper select").addClass("display-dropdown");
            FillTaskTitles();
            $("#task-titles").removeClass("disable");
        }
        else if (projectAction == "Delete project") {
            $(".usersvalue").addClass("hidden");
            $(".uservalue").val("");
            $("#add-btn").removeClass("disabled");
        }
        else if(projectAction == "Add user to project")
        {
            $("#task-title").removeClass("display-dropdown");
            $("#task-actions").removeClass("display-dropdown");
            $("#manage-execute").addClass("display-btn");
            $(".usersvalue").removeClass("hidden");
            $("#add-btn").removeClass("disabled");
            UserAutoComplete();

        }
    }

    function RedirectToTaskAction() {
        taskAction = $("#task-actions :selected").text();
        if (taskAction == "Assign to user") {
            UserAutoComplete()
            $(".usersvalue").removeClass("hidden");
            $("#add-btn").removeClass("disabled");
        }
        else if(taskAction == "Delete")
        {
            $(".usersvalue").addClass("hidden");
            $("#add-btn").removeClass("disabled");
        }
    }

    function FillTaskTitles() {
        var procemessage = "<option value='0'> Loading...</option>";
        $("#task-title").html(procemessage).show();
        $("#task-title").addClass("disabled");
        $("#project-actions").addClass("disabled");
        var url = "/Project/TaskList";
        $.ajax({
            url: url,
            data: { projectTitle: _projectTitle },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\"" + data[x] + "\">" + data[x] + "</option>";
                }
                $("#task-title").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse + data);
            }
        });
        $("#project-actions").removeClass("disabled");
        $("#task-title").removeClass("disabled");
    }

    $("document").ready(function () {
        $("#project-title option").click(function () {
            //unable dropdowns
            $("#task-title").empty();
            $("#task-title").addClass("disabled");
            $("#task-actions").addClass("disabled");
            $(".usersvalue").addClass("hidden");
            $(".uservalue").val("");
            $("#task-title").removeClass("display-dropdown");
            $("#task-actions").removeClass("display-dropdown");
            $("#add-btn").addClass("disabled");

            $("#project-actions").addClass("display-dropdown");
            //set project title, able project actions
            SetProjectTitle($("#project-title").val());
            $("#project-actions").removeClass("disabled");
        });

        $("#project-actions option").click(function () {
            //disable titles dropdown
            $("#task-title").addClass("disabled");
            $("#task-actions").addClass("disabled");
            $(".uservalue").addClass("hidden");
            //move to action
            RedirectionToProjectAction();
        });

        $("#task-title").on("click", "option", function () {
            //enable
            $("#task-actions").addClass("display-dropdown");
            $("#task-actions").removeClass("disabled");
            $(".usersvalue").addClass("hidden");
            $(".uservalue").val("");
            $("#add-btn").addClass("disabled");
            SetTaskTitle($("#task-title").val());
        });

        $("#task-actions option").click(function () {
            RedirectToTaskAction();
        });

    });
</script>
