@model IEnumerable<TaskManager.Models.ProjectModel>

<div id="project-wrapper">
    <aside id="project-area">
        <div>
            <div id="project-panel">
                <div class="input-group" id="task-search">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default disabled" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div id="project">
                <ul id="project-list">
                    @foreach (var item in Model)
            {
                        <li>
                            <div class="task-title">
                                @Ajax.ActionLink(@item.Title, "ViewTask", "Project", new { projectId = item.Id }, new AjaxOptions
                       {
                           HttpMethod = "Post",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "task-results"
                       })
                            </div>
                            <div class="project-description">
                                <textarea readonly>@item.Description</textarea>
                            </div>
                            <div class="project-icons">
                                <span id="users" class="glyphicon glyphicon-user">@item.ClientsCount</span>
                                <span id="tasks" class="glyphicon glyphicon-tasks">@item.TaskCount</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </aside>

    <aside id="task-area">
        <span>PlaceHolderSpan</span>
        <div id="task-results">
        </div>
    </aside>
</div>

<script type="text/javascript">
    jQuery("#project-area .task-title a").click(function () {
        jQuery("#project-area .task-title a.selected").removeClass("selected");
        jQuery(this).addClass("selected")
    });
</script>