@model IEnumerable<TaskManager.Models.ViewTasksModel>

<div id="task-header" class="task-header">
    <div id="task-project-title">
        <i>@ViewBag.ProjectTitle</i>
    </div>

    <div class="input-group" id="task-search">
        <input type="text" class="form-control" placeholder="Search for...">
        <button class="btn btn-default disabled" type="button">Search</button>
    </div>

    <div id="task-navs">
        <div id="task-filters">
            <button class="btn btn-default disabled" type="button">Priority</button>
            <button class="btn btn-default disabled" type="button">Status</button>
        </div>

        <div id="task-add">
            <button class="btn btn-default disabled" type="button">Add</button>
        </div>
    </div>

</div>

<div id="task-body">
    <table id="task-table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Info
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p> @Html.ActionLink(@item.Title, "ReadTask", "Project", new { id = item.Id })</p>
                </td>
                <td id="task-descriptuion-td">
                    <i>@item.Description</i>
                </td>
                <td>
                    <ul class="list">
                        <li id="task-signed-to">
                            <h6>Signed to: @item.AssignedToEmail</h6>
                        </li>
                        <li id="task-status">
                            <h6>Status: @item.StatusTitle</h6>
                        </li>
                        <li id="task-priority">
                            <h6>Priority: @item.PriorityTitle</h6>
                        </li>
                        <li id="task-deadline">
                            <h6>Deadline: @item.DeadLine</h6>
                        </li>
                    </ul>
                </td>
            </tr>
        }

    </table>
</div>



<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-sm"></div>
</div>

<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".add-task").click(function (e) {
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>