
@{
    ViewBag.Title = "AuthorizedAsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
{
    <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                @Ajax.ActionLink("Add project", "AddProject", "project", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results",
               LoadingElementId = "loading"
           })
            </li>
            <li>
                @Ajax.ActionLink("Add user", "AddUser", "Account", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results",
               LoadingElementId = "loading"
           })
            </li>
            <li>
                @Ajax.ActionLink("Users", "UsersList", "Account", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results",
               LoadingElementId = "loading"
           })
            </li>
            <li>
                @Ajax.ActionLink("Projects", "Projects", "Project", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results"
           })
            </li>
        </ul>
    </div>
</div>
}
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
<div class="container stretch-height">
    <div class="row stretch-height">
        <div id="results" class="stretch-height">
        </div>
    </div>
</div>

<script type="text/javascript">
    //$("#menu-toggle").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //});
    jQuery(".sidebar-nav li").click(function () {
        jQuery('.sidebar-nav li.active').removeClass('active');
        jQuery(this).addClass('active');
    });
</script>


@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/jquery-1.12.4.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

