
@{
    ViewBag.Title = "AuthorizedAsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
{
    <div class="container">
        <div class="row">
            <div class="text-center">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        @Ajax.ActionLink("Add user", "AddUser", "Account", new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "results",
                       LoadingElementId = "loading"
                   })
                    </li>
                    <li class="active">
                        @Ajax.ActionLink("Add project", "AddProject", "project", new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "results",
                       LoadingElementId = "loading"
                   })
                    </li>
                    <li>
                        @Ajax.ActionLink("Users", "UsersList", "Account", new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "results",
                       LoadingElementId = "loading"
                   })
                    </li>
                    <li>
                        @Ajax.ActionLink("Projects", "Projects", "Project", new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "results"
                   })
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div id="results">
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

