
@{
    ViewBag.Title = "AuthorizedAsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
{
    <div class="sidebar text-center" id="menu">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                @Ajax.ActionLink("Add user", "AddUser", "Account", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results",
               LoadingElementId = "loading"
           })
            </li>
            <li>
                @Ajax.ActionLink("Users", "Users", "Account", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results"
           })
            </li>
            <li>
                @Ajax.ActionLink("Projects", "Index", "Project", new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "results"
           })
            </li>
        </ul>
    </div>
}

<div id="results">
</div>
<div class="container" id="loading">
</div>


@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

