@model IEnumerable<TaskManager.Models.EditUserModel>

<div>
</div>



    <table id="user-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewRole)
            </th>
            <th>

            </th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.UserRoles)
                </td>
                <td>
                    <div>
                        @*new SelectList((ICollection<string>)TempData["Roles"])*@
                        @Html.DropDownListFor(model => user.NewRole, user.RoleList , new { @class = "btn btn-default btn-block text-center", @id = "roles-dropdown" })
                    </div>
                </td>
                <td>
                    <form id="form-action">
                        <input id="id" type="hidden" name="id" value="@user.Id" />
                        <input type="hidden" name="newRole" value=@user.NewRole/>
                        <input type="hidden" name="name" value=@user.Name />
                        <input type="button" value="Change role" class="btn btn-default submit" />
                    </form>
                </td>
            </tr>
        }
    </table>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $("document").ready(function () {
        $(".submit").click(function () {
            $.post('@Url.Action("ChangeRole", "Account")',
                {
                    id: $("#id").val(),
                    newRole: $("#roles-dropdown").val()
                },
                function () { alert("Succsess") }
            )
        });
    });
</script>



